(
    tiles: {
        "ground": (
            tile_texture: Single(0),
            tile_type: Walkable
        ),
        "ice": (
            tile_texture: Directional(1),
            tile_type: Diggable(
                level: 1,
                hardness: 1.0            
            )
        )
    }
)
